/* livvic-regular - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src:
       url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/livvic-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src:
       url('../fonts/livvic-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/livvic-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src:
       url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/livvic-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src:
       url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/livvic-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
  box-sizing: border-box;
}

img{
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family:"Livvic", "Arial", 'sans-serif';
}

.container{
  max-width: 1158px;
  width: 100%;
  padding: 0px 24px;
  margin: 0px auto;
}

.header {
  background-color: #014E56;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 72px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-lists {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}

.header-links {
  text-decoration: none;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-right: 40px;
  display: inline-block;
}

.header-links:hover {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.header-links:active {
  opacity: 0.5;
}

.header-link {
  text-decoration: none;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 10px 32px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  display: inline-block;
}

.header-link:hover {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #002529;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
}

.header-link:active {
  opacity: 0.5;
}

.header-btn {
  display: none;
  border: none;
  background-color: transparent;
}




.hero {
  background-color: #014E56;
  background-image: url(../img/hero-bg-1.png),
                    url(../img/hero-bg-2.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -110px 0px, 950px 350px;
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 250px;
}

.hero-title {
  max-width: 605px;
  width: 100%;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
  margin: 0px;
}

.hero-span {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #F67E7E;
}

.hero-info {
  max-width: 445px;
  width: 100%;
  padding-top: 80px;
  position: relative;
}

.hero-desc {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0px;
}

.hero-desc::before {
  background: #79C8C7;
  width: 50px;
  height: 4px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: auto;
}

@media only screen and (max-width: 1351px) {
  .hero-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .hero-title {
    padding-top: 40px;
    width: 380px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero-span {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    color: #F67E7E;
  }
  .hero-info {
    padding-top: 24px;
    max-width: 457px;
    width: 100%;
  }
  .hero-desc::before {
    display: none;
  }
  .hero-desc {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero {
    background-color: #014E56;
    background-image: url(../img/hero-bg-2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 400px;
  }
}

@media only screen and (max-width: 622px) {
  .header-lists {
    margin-left: 48px;
  }
}

@media only screen and (max-width: 591px) {
  .header-link {
    padding: 6px 16px;
  }
  .header-links {
    margin-right: 20px;
  }
  .header-lists {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 491px) {
  .header-lists {
    display: none;
  }

  .header-link {
    display: none;
  }

  .header-btn{
    display: block;
  }

  .hero-title {
    padding-top: 8px;
    width: 245px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
  }

  .hero-span {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #F67E7E;
  }

  .hero-desc {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }

  .hero-info {
    padding-top: 18px;
    max-width: 327px;
    width: 100%;
  }

}




.build {
  background-color: #012F34;
  background-image: url(../img/build-bg-img.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 1420px 440px;
}

.build-inner {
  display: flex;
  justify-content: space-between;
  padding: 140px 0px;
}

.build-title {
  position: relative;
  max-width: 445px;
  width: 100%;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0px;
  padding-top: 58px;
}

.build-title::before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  position: absolute;
  top: 0;
  left: 0;
}

.build-lists {
  position: relative;
  max-width: 540px;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 58px;
  padding-left: 95px;
}

.build-item {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
  margin: 0px;
  margin-bottom: 16px;
}

.build-desc {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0px;
}

.build-list:nth-child(2) {
  margin: 32px 0px;
}

.build-list:nth-child(2)::before {
  width: 72px;
  height: 72px;
  background-image: url(../img/easy.png);
  background-size: auto;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 0px;
}

.build-list:nth-child(1)::before {
  width: 72px;
  height: 72px;
  background-image: url(../img/experienced.png);
  background-size: auto;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 0px;
}

.build-list:nth-child(3)::before {
  width: 72px;
  height: 72px;
  background-image: url(../img/enhanced.png);
  background-size: auto;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 0px;
}


@media only screen and (max-width: 1351px) {
  .build {
    background-image: url(../img/build-bg-1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100% 0%;
  }
  .build-inner{
    padding: 100px 0px;
    flex-direction: column;
    margin: 0px auto;
    max-width: 573px;
    width: 100%;
  }

  .build-lists {
    max-width: 570px;
    width: 100%;
    padding-top: 64px;
  }

  .build-title {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 32px;
  }
}

@media only screen and (max-width: 571px) {
  .build-title {
    max-width: 240px ;
    width: 100%;
  }

  .build-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 95px;
  }

  .build-list:nth-child(1)::before {
    top: 50px;
    transform: translate(-50%);
    left: 50%;
  }

  .build-list:nth-child(2)::before {
    top: 310px;
    transform: translate(-50%);
    left: 50%;
  }

  .build-list:nth-child(3)::before {
    top: 550px;
    transform: translate(-50%);
    left: 50%;
  }


  .build-lists {
    max-width: 327px;
    margin: 0px auto;
    width: 100%;
    padding: 0px;
    padding-top: 56px;
  }

  .build-inner {
    padding-bottom: 60px;
  }
}




.stories {
  background-color: #004047;
  background-image: url(../img/stories-bg-1.png),
                    url(../img/stories-bg-2.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0% 0%,100% 100%;
}

.stories-inner {
  padding: 140px 0px;
}

.stories-title {
  max-width: 932px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px auto;
  margin-bottom: 56px;
}

.stories-span {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #79C8C7;
}

.stories-lists {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stories-list {
  max-width: 350px;
  width: 100%;
  padding-bottom: 11px;
}

.stories-list::before {
  background-image: url(../img/quotation-marks.png);
  content: "";
  display: block;
  margin: 0px auto;
  margin-bottom: -20px;
  width: 67px;
  height: 56px;
}

.stories-quote {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 24px;
}

.stories-name {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin-bottom: 2px;
}

.stories-position {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 1351px) {
  .stories-lists {
    display: flex;
    flex-direction: column;
  }
  
  .stories-inner {
    padding: 100px 0px;
  }

  .stories-title {
    max-width: 480px;
    width: 100%;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
  }

  .stories-span {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #79C8C7;
  }

  .stories-list {
    max-width: 573px;
    width: 100%;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 761px) {
  .stories-inner {
    padding: 140px 0px;
  }
}

@media only screen and (max-width: 571px) {
  .stories-title {
    max-width: 317px;
    width: 100%;
    margin-bottom: 48px;
  }

  .stories-list {
    max-width: 324px;
    width: 100%;
    padding-bottom: 0px;
  }
}


.ready {
  background-color: #F67E7E;
  padding: 76px 0px;
  background-image: url(../img/ready-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0% 100%;
}

.ready-inner {
  max-width: 917px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ready-title {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  margin: 0px;
}

.ready-link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  padding: 9px 32px;
  border: 2px solid #012F34;
  border-radius: 24px;
}

.ready-link:hover {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
}

.ready-link:active {
  opacity: 0.5;
}

@media only screen and (max-width: 1351px) {
  .ready {
    padding: 92px 0px;
  }

  .ready-inner {
    margin: 0px 72px;
  }

  .ready-title {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #012F34;
  }
}

@media only screen and (max-width: 685px) {
  .ready-inner {
    max-width: 315px;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
    padding: 20px 0px;
  }

  .ready-title {
    margin-bottom: 24px;
  }
}




.footer {
  background-color: #002529;
}

.footer-inner {
  padding: 0px;
  padding: 48px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px;
  list-style: none;
}

.footer-links {
  max-width: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-top: 25px;
  list-style: none;
}

.footer-link {
  text-decoration: none;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer-link:hover {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.footer-link:active {
  opacity: 0.5;
}

.footer-infos {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.facebook:hover path {
  fill: #F67E7E;
}

.facebook:active {
  opacity: 0.5;
}

.footer-info {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.footer-sites {
  max-width: 104px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 51px;
}

.footer-span {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

@media only screen and (max-width: 771px) {
  .footer-inner {
    flex-wrap: wrap;
    max-width: 689px;
    width: 100%;
    margin: 0px auto;
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 689px;
    width: 100%;
  }

  .footer-sites {
    margin: 0px;
  }

  .footer-link {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
  }

  .footer-links {
    margin-top: 54px;
  }

  .footer-list {
    margin-bottom: 32px;
  }

  .footer-span {
    max-width: 255px;
    width: 100%;
    margin-left: auto;
  }

  .test {
    text-align: end;
  }
}

@media only screen and (max-width: 565px) {
  .footer-inner {
    max-width: 327px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 64px 0px;
  }

  .footer-links {
    max-width: 107px;
    width: 100%;
    margin: 0px auto;
    margin-top: 24px;
  }

  .footer-img {
    width: 96px;
    height: 24px; ;
  }

  .test {
    text-align: center;
  }

  .footer-bottom {
    display: block;
  }

  .footer-sites {
    margin: 0px auto;
    margin-bottom: 16px;
  }
}